/* css/music.css */
MusicScreen {
    background: #0d0d0d;
}

#topbar {
    height: 3;
    background: #0f0f0f;
    border-bottom: solid #1e1e1e;
    padding: 0 1;
    align: vertical middle;
}

#search-input {
    background: #181818;
    border: solid #2a2a2a;
    color: #666666;
    height: 1;
    width: 100%;
}

#search-input:focus {
    border: solid #a78bfa;
    color: #c8c8c8;
}

#main-body {
    height: 1fr;
}

#sidebar {
    width: 16;
    border-right: solid #1e1e1e;
    padding: 1 0;
    background: #0d0d0d;
}

.nav-item {
    color: #444444;
    padding: 0 2;
    margin-bottom: 1;
}

.nav-item.active {
    color: #a78bfa;
    border-left: text #a78bfa;
}

#content {
    width: 1fr;
}

#content-header {
    height: 1;
    padding: 0 2;
    color: #333333;
    background: #0d0d0d;
}

#track-list {
    height: 1fr;
}

.track {
    height: 3;
    border-bottom: solid #141414;
    padding: 0 2;
    align: vertical middle;
}

.track.playing {
    background: #13102a;
}

.track-num {
    width: 4;
    color: #333333;
}

.track-num.pi {
    color: #a78bfa;
}

.track-info {
    width: 1fr;
}

.track-title {
    color: #c8c8c8;
}

.track-title.playing {
    color: #a78bfa;
}

.track-artist {
    color: #3a3a3a;
}

.track-dur {
    width: 6;
    content-align: right center;
    color: #333333;
}

#nowplaying {
    height: 4;
    background: #0f0f0f;
    border-top: solid #1e1e1e;
    padding: 0 2;
    align: vertical middle;
}

#np-left {
    width: 25%;
    height: 100%;
    align: left middle;
}

#np-title {
    color: #a78bfa;
}

#np-artist {
    color: #3a3a3a;
}

#np-center {
    width: 50%;
    height: 100%;
    align: center middle;
}

#np-controls {
    color: #444444;
    text-align: center;
    margin-bottom: 1;
}

#np-progress-container {
    height: 1;
}

.prog-time {
    color: #333333;
    width: 6;
}

#prog-bar-mock {
    color: #a78bfa;
    width: 1fr;
}

#np-right {
    width: 25%;
    height: 100%;
    align: right middle;
}

#vol-mock {
    color: #444444;
}
