[Desktop Entry]
Type=Application
Name=Liminal
GenericName=Media Player
Comment=Local media player for Linux
Icon=/mnt/Work/Liminal/src/qt/liminal.png
Exec=/mnt/Work/Liminal/scripts/run-liminal.sh
Path=/mnt/Work/Liminal
Terminal=false
Categories=AudioVideo;Player;
StartupNotify=true
StartupWMClass=liminal
